{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "yoda": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
      "Backbone": true,
      "$": true,
      "_gaq": true
  }
}